@import url("/blocks/cards/__item/__item.css");
@import url("/blocks/cards/__image/__image.css");
@import url("/blocks/cards/__title/__title.css");
@import url("/blocks/cards/__description/__description.css");

.cards{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 920px;
    margin: auto;
    list-style-type: none;
    padding: 0;
    
    }