@import url("/blocks/resources/__logo/__logo.css");
@import url("/blocks/resources/__logo-zone/__logo-zone.css");

.resources{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 217px;
  
  }