@import url("./__logo/__logo.css");
@import url("./__logo-zone/__logo-zone.css");

.resources{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 217px;
}