.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin-top: 0px;
  background-color: #f2f2f2;
  position: relative;
  
  

}

.table__cell_theme_dark {
  width: 200px;
  
  margin-right: 0;
  margin-top: 80px;
}

.flex__column{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-self:center;
}

.flex__column__reverse{
  display: flex;
  flex-direction: column-reverse;
  
}

.flex__row{
  display: flex;
  flex-direction: row;
}

.logo{
  position:absolute;
  z-index: 1;
  width: 154px;
  height: 31px;
  background-size: contain;
  background-repeat: no-repeat; 
  

}

.logo_place_header{
  background-image: url("../images/logo_place_header.png");
  top: 30px;
  left: 64px;
  
}

.header__title{
  align-items: center;
  width: 730px;
  height: 96px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  left: 64px;
  position: absolute;
}

.header__subtitle{
   width: 388px;
  height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
  align-self:flex-end;
  padding-bottom: 30px;
  position: absolute;
  left: 64px;
  bottom: 30px; 
}

.header__main-illustration{
  background-image: url("../images/header-image.png");
  background-position:center;
  background-size: cover;
  width: 756px;
  height: 608px;
  position: absolute;
  right: 0px;
  z-index: 1;
  display: flex;
  bottom: 0;
   
}

.header__square-pic{
  background-color: #2F80ED;
  background-size:cover;
  width: 568px;
  height: 568px;
  position: absolute;
  top:64px;
  right: 0px;
  z-index: 0;
  bottom: 30px;
  display: flex;
  
}



.two-columns{
  display: flex;
  width: 80%;
  min-width: 784px;
  align-self: center;
  margin-top: 100px;
  padding-left: 100px;
  justify-content: space-evenly;
  align-content: flex-start;
  padding-bottom: 30px;
}

.two-columns__brief{

 color: #2F80ED;
 line-height: 1.2;
 font-size: 18px;
 width: 175px;
}

.two-columns__span-accent{

  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
  
}

.two-columns__main-text{
width: 80%;

}

.two-columns__paragraph{  
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
  
}

.digits{
  display: flex;
  align-items: center; 
  padding-bottom: 100px;
  position: relative;
}

.section-title{

  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  bottom: 20px;
  
}

.section-subtitle{

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 60px;

}

.table{
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;

}

.heading{ 
  
  align-content: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  
}

.cell{

  width: 250px;
  top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  display: flex;
  top:100px;
  align-items: center;
  height: 790px;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  position: relative;
  background-color: #F2F2F2;

}

.feynman__title{

  width: 775px;
  font-size: 120px;
  font-weight: bolder;
  text-align: center;
  bottom: 70px;
  
}

.feynman__subtitle{

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  
}

.feynman__link{

line-height: 51px;
font-size: 36px;
font-weight: normal;
margin-right: 48px;
top:50%;
align-self: flex-end;
}

.kaufman{
  display: flex;
  background-color:#1F1F1F;
  padding-top: 90px;
  padding-bottom: 90px;
  color: white;
  align-items: center;
  overflow: hidden;
  position: relative;
  
}

.section-title_theme_dark{

  width: 60%;
  top:90px;
  text-align: center;
  z-index: 2;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;

}

.section-subtitle_theme_dark{
  line-height: 34px;
  font-weight: normal;
  padding-bottom: 0;
  z-index: 2;
  width: 60%;
  text-align: center;
  font-size: 24px;
}

.table_theme_dark{
  flex-wrap: wrap;
  width: 1100px;
  z-index: 2;
  justify-content: space-evenly;
  list-style-type: none;
  margin: auto;
}



.table__heading_theme_dark{
line-height: 1.15;
font-size: 24px;
font-weight: bold;
padding-top: 80px;
width: 200px;
}

.table__text_theme_dark{
line-height: 1.2;
font-size: 18px;
font-weight: normal;
padding-top: 20px;
}

.kaufman__triangle{
  background-image: url("../images/kaufman-triangle.svg");
  background-position: center;
  width: 660px;
  height: 636px;
  position:absolute;
  right: -124px;
  z-index: 1;
  padding-top: 0;
}

.logo_place_footer{
  background-image: url("../images/logo_place_footer.png");
  background-repeat: no-repeat;
  background-position:center;
  width: 183px;
  height: 35px;
  align-self: flex-start;
  top: 0px;
  
  
   
}

.footer{
  background-color: #1F1F1F ;
  padding-top: 60px;
  bottom: 40px;
  color: white;
  display: flex;
  min-height: 350px;
  justify-content: center;
  
}

.footer__columns{
  
  padding-top: 60px;
  justify-content:space-evenly;
  position: relative;
  width: 90%;
  
}



.footer__author{
  bottom: 18px;
  padding-left: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  
  
}

.footer_column__content_copyrigt{
  
  flex-basis: 711px;
  align-items: stretch;
  
  
  

}

.footer__column-heading{
line-height: 30px;
font-size: 18px;
font-weight: bold;
text-align: left;
list-style-type: none;

padding-bottom: 20px;
}

.footer__list{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  
}



.footer__column_content_about{

  margin-top: 0px;
}

.ooter_column__content-social{

  margin-top: 0px;
}


.footer__social-icons{

  width: 16px;
  height: 16px;
  padding-left: 10px;
  
  

}

.facebook{

  background-image: url("../images/facebook_white.svg");
}

.instegram{

  background-image: url("../images/instagram_white.svg");


}

